.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.data-table {
  margin: 20px auto;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 10px;
  text-align: left;
  color: #FFD700; /* Gold color */
}

.data-table th {
  background: rgba(50, 50, 50, 0.9);
}

.data-table tr:nth-child(even) {
  background: rgba(50, 50, 50, 0.5);
}

.data-table tr:nth-child(odd) {
  background: rgba(50, 50, 50, 0.3);
}
