body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;  /* Black background */
}

#root {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000; /* Optional: Add a background color */
  color: #0c0c0b; /* Gold color */
  margin-top: 20px; /* Add some space above the footer */
}

canvas {
  width: 100%;
  height: 100%;
  display: block; /* Ensure the canvas takes up the full space */
}

.clooned-object {
  width: 100%;
  height: 100%;
  display: block; /* Ensure the clooned-object takes up the full space */
}

.crater-scene-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Allow scrolling if content overflows */
}

.chart-overlay {
  position: relative;
  width: 100%; /* Make the charts wider */
  max-width: 1600px; /* Limit the maximum width */
  height: 100vh; /* Set a fixed height */
  margin: 0 auto; /* Center the charts */
  background: rgba(50, 50, 50, 0.7);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #8B4513;
  overflow-y: auto; /* Allow vertical scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-container {
  flex: 1; /* Allow the chart container to grow */
  margin-bottom: 96px; /* Add an inch (96px) space between charts */
  overflow: hidden; /* Hide the internal scroll bar */
  height: 100%; /* Make the chart container take up the full height */
}

.link-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.link-container button {
  color: white;
  text-decoration: none;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'CustomFont', 'Orbitron', sans-serif;
}

.link-container button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.small-title {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  color: #db0b0b; /* Gold color */
}

.error-message {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD700;
}

.stats-display {
  margin-top: 10px;
  text-align: center;
  color: #FFD700;
  font-size: 16px;
  font-family: 'Arial, sans-serif';
}

.content {
  padding: 40px;
  font-size: 2.1em; /* Increase font size */
  text-align: center;

  background: linear-gradient(145deg, #000000, #434343); /* Shiny black background */
  color: white; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.content p {
  font-size: 3.5em; /* Increase font size to twice as big */
  line-height: 1.6; /* Increase line height */
  margin: 20px 0; /* Add more margin */
  background: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  backdrop-filter: blur(10px); /* Add blur effect */
  -webkit-backdrop-filter: blur(10px); /* Add blur effect for Safari */
}

.spinning-chart {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data-table {
  margin: 20px auto;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 10px;
  text-align: left;
  color: #FFD700; /* Gold color */
}

.data-table th {
  background: rgba(50, 50, 50, 0.9);
}

.data-table tr:nth-child(even) {
  background: rgba(50, 50, 50, 0.5);
}

.data-table tr:nth-child(odd) {
  background: rgba(50, 50, 50, 0.3);
}

@media (max-width: 768px) {
  .chart-overlay {
    height: auto; /* Allow the chart overlay to adjust height */
    padding: 10px; /* Reduce padding for mobile */
  }
  .chart-container {
    margin-bottom: 48px; /* Reduce space between charts for mobile */
  }
  .data-table {
    width: 100%; /* Make the data table full width on mobile */
  }
}

